.hero {
  background-image: url("../../assets/background3.jpg"); 
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 20%;
  padding-right: 50px;
  color: #fff;
}
.hero #heading h3 {
  color: #fff;
}
.hero #heading {
  text-align: left;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .margin {
    height: 40vh;
  }
  .hero {
    background-position: right;
    padding-top: 50%;
    height: 80vh;
  }
  .hero .row {
    width: 100%;
  }
}


.row{
  font-size:20px;
  color:#100641;
}

.btn1{
  color:#fff;
  font-weight:750;
  font-size:15px;
  background-color:#100641;
  height: 40px;
  width: 40%;
  border-radius: 3px;
  margin-top:20px;
  border-style: none;
  border-collapse: collapse;
}