

/* App.css */

/* Styles for the entire page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.app {
  display: flex;
  justify-content:center;
  min-height: 100vh;
  position: relative;
}

/* Background image */

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  background-image: url('https://img.freepik.com/free-vector/indian-tricolor-theme-watercolor-texture-patriotic-background-vector_1055-11952.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   filter: blur(5px);/* Optionally add a blur effect to the background */
}
.background-images{
width: 25%;
position: relative;

}
.forgot{
  position: relative;
  top: 1px;
  left: -3%;
}
.signup-button,.forgot{

 
  position: relative;
  bottom: 12px;
  right: 15%;
  background-color: transparent;
  border: none;
  color: rgb(94, 7, 129);
  text-decoration: underline;
}
.headerA
  {
    display: flex;
    z-index: 1;
    position: relative;
    top:1%;
    right: 160%;
  }
  .portalA{
    position: relative;
    top: 20px;
    left: 10%;
    color: rgb(0, 0, 112);
  }
  .AICTEA{
    font-size:200%;
    
  }
  .x{
    position: relative;
    top: -20px;
  }
  .logoA {
    z-index: 1;
    position:relative;
    top: 1em;
    right: -1em;
    width: 70px;
    height: 70px;
  }
.cont{
  display: flex;
  flex-direction: column;
}
/* Login form container */
.login-container {
  position: relative;
  top: 1%;
  opacity: 0.8;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
}

/* Login form */
.login-form {
  padding: 10px;
}

.input-container {
  margin: 10px 0;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  border-color: black;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.welcome-message {
  font-size: 18px;
  color: #007bff;
  margin-top: 20px;
}
.error-message{
color: red;
}
/* Media query for smaller screens */
@media (max-width: 650px) {
  .login-container {
    width: 80%;
  }
  .background-images{
  align-items: center;
      filter: none;
    }
    .headerA{
      display: flex;
    z-index: 1;
    position: relative;
    top: -10%;
        right:40%;
    }
}
.go-back-button{
  
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-left: 9px;
  border-radius: 4px;
  border-color: black;
  padding: 10px 20px;
  cursor: pointer;
}