
.check {
  display: flex;
  align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .button-box {
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    width: 300px;
    margin: 5%;
    height: 300px;;
    background-color: rgba(255, 255, 255, 0.8); /* Opacity less than 1 */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .button-box:hover {
      border: rebeccapurple;
    transform: scale(1.15); /* Enlarge on hover */
  }
  
  .background-image {
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.freepik.com/free-vector/indian-tricolor-theme-watercolor-texture-patriotic-background-vector_1055-11952.jpg'); /* Add your background image URL */
    background-size: cover;
    filter: blur(5px); /* Apply blur effect */
  }
  .header
  {
    display: flex;
    z-index: 1;
    position: relative;
    top:45px;
    margin-top: 10%;
    right:160% ;
  }
  .y{
    position: relative;
    top: -20px;
  }
  .portal{
    position: relative;
    top: 25px;
    left: 10%;
    color: rgb(0, 0, 112);
  }
  .AICTE{
    font-size:200%;
    
  }
  .logo {
    z-index: 1;
    position:relative;
    top: 1em;
    right: -1em;
    width: 70px;
    height: 70px;
  }
 .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  position:relative;
  top: -10px;
    margin: 100px;
    height: 100%;
    width: 100%;
    font-size: 150%;
 }
  .button {
    image-rendering: pixelated;
    background-image: url('https://img.freepik.com/free-vector/indian-tricolor-theme-watercolor-texture-patriotic-background-vector_1055-11952.jpg');
    font-size: larger;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    
  }
  
  .orange{
color: rgb(255, 153, 0);
background-position: 5% 5%; 
  }
  .white{
background-color: white;
color: blue;
background-position: 50% 25%; 
  }
  .green{
color: green;
background-position: 100% 100%; 
  }
  .orange:hover{
    background-color: rgb(201, 131, 2);
    
      }
      .white:hover{
    background-color: rgb(214, 211, 211);
    color: blue;
      }
      .green:hover{
    background-color: rgb(1, 108, 1);
      }
 
  