/* Signup.css */

.Signup {
  /* Set the background image for the entire component */
  filter: none;
  background-image: url('https://img.freepik.com/free-vector/indian-tricolor-theme-watercolor-texture-patriotic-background-vector_1055-11952.jpg');
  background-size: cover; /* Adjust this as needed */
  background-position: center center; /* Center the background image */

  /* Center the form container vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the component covers the full viewport height */
}

.signup-container {
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
  padding: 20px;
  width: 500px; /* Set the width of the container */
  max-width: 100%; /* Ensure it doesn't exceed the viewport width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow to the container */
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Add additional styles as needed */
